transformers
sentence-transformers
langchain
langchainhub
langchain-upstage
langchain-pinecone
langchain-community
langchain-huggingface
langchain-google-vertexai
streamlit
text_generation
python-dotenv